
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/sprites/Background.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: repeat; /* Evita que la imagen se repita */
}

#panel {
    text-align: center;
    margin-top: 20px;
}

#input {
    padding: 10px;
}

button {
    padding: 10px 20px;
}

#character {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
}

.usuario {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
}

#text {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
