html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    max-width: 450px;
    /* Fija el ancho máximo */
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/sprites/Background.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: none;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    text-align: center;
    font-size: 22px;
    font-style: italic;
}


button {
    background-color: #9fd53d;
    color: #000;
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
}

button:hover {
    background-color: #78a12a;
}

#panel {
    text-align: center;
}

#input {
    padding: 10px;
}

#character {
    background-image: url('../assets/sprites/Dog.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#control {
    position: fixed;
    bottom: 5%;
    display: none;
}

#chatOpen {
    position: fixed;
    bottom: 0%;
    left: 20px;
    display: none;
}

.usuario {
    background-image: url('../assets/sprites/Cat.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.text {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.overlay-chat {
    display: none;
    z-index: 90000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

.container-chat {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

#messages-container {
    max-height: 85%;
    overflow-y: auto;
    background-color: rgba(189, 178, 178, 0.5);
    padding: 10px;
    height: inherit;
}

#message-input {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#message {
    display: none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


#sendBtn {
    margin-top: 0;
}

#message-input {
    margin-top: 0;
}

.message-container {
    display: flex;
    margin-bottom: 10px;
}

.message-container.end {
    justify-content: flex-end;
}

.message-container.start {
    justify-content: flex-start;
}

.message {
    margin: 0;
    font-size: 16px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-user {
    font-weight: bold;
    font-size: 12px;
}